@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    background-color: #c8c8c8;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
    .navigation {
        flex-direction: column;
        gap: 10px;
    }
    .header {
        padding: 35px 0;
        display: flex;
        justify-content: center;
    }
    .main-content {
        margin-top: 80px !important;
    }

    
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: silver;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    background-color: transparent;
}
.header {
    padding: 18px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #c50000;
    transition: top 0.3s;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
    border-bottom: 2px solid #ffe11c;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link,
.footer-brand {
    text-decoration: none;
    color: #ffe11c;
    font-weight: 900;
    font-size: 22px;
    transition: color 0.3s ease;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    font-weight: 100;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
}


@media (max-width: 550px) {
    .nav-item {
        margin-left: 5px;
        font-size: 14px;
    }
    .nav-link {
        padding: 2px 5px;
    }
}

.nav-list.show {
    max-height: 100%;
    opacity: 1;
    right: 0;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-line {
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.3s;
}

.burger-menu.active .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 730px) {
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .nav-list {
        display: flex;
    }

    .nav-item:first-child {
        margin-top: 20px;
    }

    .burger-menu {
        display: flex;
        margin-right: 15px;
    }
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.main-content {
    margin-top: 50px;
}

.navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 52px;
    }
    .navigation {
        justify-content: space-between;
    }
}

.nav-list {
    display: flex;
    gap: 14px;
    list-style: none;
}

.nav-item {
    position: relative;
}

@media (max-width: 730px) {
    .burger-menu {
        display: flex;
        z-index: 10000;
    }
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; /* Изменяем на колонку для бокового меню */
        background-color: #c50000; /* Цвет фона */
        position: fixed; /* Фиксируем меню */
        top: 0;
        right: -250px; /* Скрываем за пределами экрана */
        width: 250px; /* Ширина меню */
        height: 100%; /* Высота на весь экран */
        transition: right 0.3s ease; /* Анимация */
        z-index: 999; /* Указываем z-index */
        border-left: 2px solid #ffe11c;
    }
    .nav-list.active {
        display: flex;
    }
    .nav-link-underline {
        border: none;
    }
}

@media (max-width:426px) {
    
    .burger-line{
        background-color: rgb(255, 255, 255);
    }
    .main-content{
        margin-top: 0;
    }
    .slider-header{
        margin-top: 0;
    }
    .nav-list{
        top: 0;
    }
    
}

.footer {
    background-color: #c50000; /* Dark background color */
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center;
    margin-top: auto;
    border-top: 2px solid #ffe11c;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
}

.footer-details {
    margin-bottom: 15px; /* Space between brand and links */
}

.footer-links {
    margin-bottom: 15px; /* Space below links */
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: #ffffff; /* White color for links */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between links */
    transition: color 0.3s ease;
}

.warn-18,
.warn-states {
    font-size: 14px; /* Set a smaller font size for warnings */
    margin: 5px 0; /* Space around paragraphs */
}

.footer-rights {
    font-size: 14px; /* Similar size for rights statement */
    margin-top: 15px; /* Space above this statement */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack vertically on smaller screens */
    }
    
    .footer-links {
        flex-direction: column; /* Stack links vertically on smaller screens */
        align-items: center; /* Center links */
    }
    
    .footer-links a {
        margin: 5px 0; /* Space between stacked links */
    }
}

.gam{
    display: flex; margin-top: 20px; align-items: center; gap: 10px; justify-content: center;
  }
  .cirle{
    color: white; background-color: red; border-radius: 100%; padding: 15px;font-size: 20px; font-weight: 700;

  }
  .img18{
    max-width: 70px;
  }

  .popup {
    display: none; /* По умолчанию скрываем */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.807);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: rgb(233, 163, 163);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    max-width: 900px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 30px;
}


.thank-you-container {
    max-width: 600px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  .thank-you-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .thank-you-container p {
    font-size: 1rem;
    margin-bottom: 30px;
  }

.hero-section {
    margin-top: -30px;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('img/home/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-2 {
    margin-top: -30px;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('img/hero-about.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    padding: 10px;
}

.hero-subtitle {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.hero-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    transition: background-color 0.3s;
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 2em;
    }

    .hero-subtitle {
        font-size: 1.2em;
    }

    .hero-button {
        padding: 8px 16px;
    }

}

.hero__form {
    max-width: 400px;
    margin: 50px auto; /* Отступ сверху для визуального отделения */
    padding: 30px;
    background: linear-gradient(270deg, #ffcc00, #ff3366, #ffcc00); /* Градиентный фон */
    background-size: 400% 400%; /* Размер фона для анимации */
    border-radius: 12px; /* Закругленные углы */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Мягкая тень */
    display: flex;
    flex-direction: column;
    animation: gradient 10s ease infinite; /* Анимация градиента */
    position: relative; /* Для наличия контекста позиционирования */
    z-index: 1; /* Повышаем порядок слоя формы */
    transition: all 0.3s ease;
}

/* Анимация градиента */
@keyframes gradient {
    0% {
        background-position: 0% 50%; /* Начальное положение */
    }
    50% {
        background-position: 100% 50%; /* Положение в середине */
    }
    100% {
        background-position: 0% 50%; /* Возврат к началу */
    }
}

.priv-btn-link {
    color: black;
    transition: all 0.5s ease;
}

.hero__label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: #333; /* Темно-серый цвет текста */
}

input[type="tel"] {
    padding: 14px;
    border: 1px solid #ccc; /* Серый цвет границы */
    border-radius: 8px;
    font-size: 1em;
    margin-bottom: 20px;
    transition: border-color 0.3s, box-shadow 0.3s; /* Плавные эффекты */
}

input[type="tel"]:focus {
    border-color: #007BFF; /* Цвет границы при фокусе */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
    outline: none;
}

.hero-flex-cont {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hero__note {
    margin-left: 10px;
    font-size: 0.9em;
    color: #ffffff; /* Грей цвет текста */
}

.btn-hero {
    padding: 12px;
    background-color: #7d0000; /* Основной цвет кнопки */
    color: #ffffff; /* Цвет текста кнопки */
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Плавные изменения */
}

/* Медиазапросы для адаптивности */
@media (max-width: 600px) {
    .hero__form {
        width: 90%;
        padding: 20px; /* Уменьшаем отступы на мобильных устройствах */
    }

    .hero__label {
        font-size: 1em;
    }

    input[type="tel"], .btn-hero {
        font-size: 0.9em;
    }

    .hero__note {
        font-size: 0.8em;
    }
}














/* Основные стили для секции */
.rummy-bonus-section {
    padding: 80px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.rummy-bonus-section__title {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.rummy-bonus-section__description {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 40px;
    opacity: 0.7;
}

/* Стили для карточек команды */
.rummy-bonus-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.rummy-bonus-card {
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    perspective: 1000px; /* Для 3D эффекта */
}

.rummy-bonus-card__image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.rummy-bonus-card__title {
    font-size: 1.8rem;
    margin: 20px 0 10px;
    color: #a80000;
    font-weight: bold;
    text-transform: uppercase;
}

.rummy-bonus-card__text {
    color: #454545;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Стили для кнопок и ссылок */
.rummy-bonus-card__button {
    padding: 12px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ad4949, #69000e);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block; /* Делаем ссылку блочным элементом для padding */
    margin-bottom: 20px;
}

/* Эффект 3D на карточках */
.rummy-bonus-card::before, .rummy-bonus-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.3s;
    pointer-events: none;
}

.rummy-bonus-card::before {
    background: rgba(255, 255, 255, 0.2);
    transform: translateZ(-1px);
    z-index: -1;
}

.rummy-bonus-card::after {
    background: rgba(0, 0, 0, 0.1);
    transform: translateZ(-2px);
    z-index: -1;
}

/* Адаптивный дизайн */
@media (max-width: 1024px) {
    .rummy-bonus-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .rummy-bonus-section__title {
        font-size: 2.5rem;
    }

    .rummy-bonus-section__description {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .rummy-bonus-cards {
        grid-template-columns: 1fr;
    }

    .rummy-bonus-section__title {
        font-size: 2rem;
    }

    .rummy-bonus-card__title {
        font-size: 1.5rem;
    }
}

.rummyInfo-online {
    padding: 60px;
    border-radius: 10px;
    max-width: 1400px;
    margin: auto;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
}

/* Заголовок секции */
.rummyInfo-online-title {
    font-size: 2.5rem;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateZ(0);
    animation: slideIn 0.5s ease forwards;
}

/* Контент секции */
.rummyInfo-online-content {
    background: linear-gradient(135deg, #ffffff 0%, #e0e0e0 100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
}

/* Анимация для параграфов */
.rummyInfo-paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #000;
    opacity: 0; /* Начальное состояние */
    transform: translateY(20px);
    animation: fadeIn 0.5s ease forwards; /* Анимация появления */
}

/* Кнопка */
.rummyInfo-online-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #be0000;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Эффекты на кнопке */
.rummyInfo-online-button:hover {
    background-color: #d32a2a;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Паралакс эффект для секции */
.rummyInfo-online::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 0;
    animation: pulse 10s infinite ease-in-out;
}

/* Ключевые кадры для анимаций */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
        transform: translate(-50%, -50%) scale(0.6);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.5);
    }
}

/* Скрытый контент */
.hiddenInfinity {
    display: none;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .rummyInfo-online-title {
        font-size: 2rem;
    }

    .rummyInfo-paragraph {
        font-size: 1rem;
    }

    .rummyInfo-online-button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .rummyInfo-online {
        padding: 20px;
    }

    .rummyInfo-online-title {
        font-size: 1.5rem;
    }

    .rummyInfo-paragraph {
        font-size: 0.9rem;
    }

    .rummyInfo-online-button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}

.rummy-section {
    width: 100%; /* Занимает всю ширину экрана */
    padding: 40px;
    border-radius: 0; /* Без закругленных углов для полноэкранного стиля */
    color: #000000;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px; /* Пробел между кнопками */
    margin-bottom: 30px;
}

.rummy-button {
    padding: 15px 30px; /* Измененный отступ */
    color: #ffffff;
    background: rgba(204, 0, 0, 0.647); /* Полупрозрачный белый фон */
    border: none; 
    border-radius: 25px; /* Овальная форма */
    font-size: 18px; /* Увеличенный размер шрифта */
    cursor: pointer; /* Указатель для кликуемого элемента */
    transition: all 0.3s ease; /* Плавный переход */
    font-weight: bold; /* Жирный текст */
}

.rummy-button.active {
    background-color: rgba(217, 69, 69, 0.504); /* Новая активная кнопка */
}

.content-block {
    display: none;
    margin-top: 30px;
    text-align: left;
    background: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.content-block.active {
    display: block;
}

.content-image {
    width: 100%;
    height: auto;
    max-height: 400px; /* Максимальный размер изображения */
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px; /* Пробел под изображением */
}

.rummy-section h3 {
    font-size: 32px; /* Увеличенный размер заголовка */
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Тень текста */
}

.rummy-section p {
    font-size: 18px; /* Увеличенный размер текста */
    line-height: 1.6; /* Увеличенный интервал между строками */
}

.rummy-section ul {
    margin-left: 20px;
    list-style-type: disc; /* Изменён тип маркеров */
    padding-left: 10px; /* Отступ слева */
    color: #333; /* Цвет текста для списка */
}

@media (max-width: 1030px) {
    .button-group {
        flex-direction: column;
        gap: 10px; /* Пробел между кнопками в столбик */
    }

    .content-block {
        padding: 20px; /* Уменьшенные отступы на мобильных устройствах */
    }

    .content-image {
        max-height: 250px; /* Меньший максимальный размер изображений на мобильниках */
    }

    .rummy-button {
        width: 100%; /* Ширина кнопок на мобильных */
    }
}

.reviews-section {
    text-align: center;
    margin: 20px;
    color: rgb(0, 0, 0);
}

.reviews-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #920e0e;
}

.reviews-slider {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.reviews-slide {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.reviews-slide.reviews-active {
    opacity: 1;
}

.review-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

.reviewer-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-text {
    font-size: 1.2em;
    line-height: 1.5;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .reviews-title {
        font-size: 1.5em;
    }

    .review-text {
        font-size: 1em;
    }

    .review-image {
        width: 60px;
        height: 60px;
    }
}

.match-action-card-section {
    display: flex;                 /* Use Flexbox for layout */
    flex-wrap: wrap;             /* Allow the cards to wrap */
    justify-content: center;      /* Center cards horizontally */
    gap: 20px;                   /* Space between cards */
    padding: 20px;               /* Optional padding around the section */
}

.match-action-card {
    background-color: white;      /* Background color of card */
    border-radius: 15px;         /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  /* Subtle shadow for depth */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition effects */
    width: calc(33.33% - 20px);  /* 3 cards per row with gap adjustment */
    max-width: 400px;            /* Maximum width for larger screens */
    overflow: hidden;            /* Ensures content doesn't overflow */
    position: relative;           /* Position context for child elements */
    padding: 10px;
}

.match-action-card-title {
    font-size: 1.5em;            /* Title font size */
    color: #333;                 /* Title color */
    margin: 20px 0;             /* Margin around title */
    text-align: center;          /* Center the title */
}

.match-action-card-content {
    padding: 20px;               /* Padding for content */
    text-align: center;          /* Center text */
}

.match-action-card-icon {
    font-size: 40px;             /* Icon size */
    color: #af0c58;              /* Icon color */
}

.match-action-card-text {
    font-size: 1em;              /* Text font size */
    color: #666;                 /* Text color */
    line-height: 1.5;            /* Line height for readability */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .match-action-card {
        width: calc(100% - 20px); /* Full width for smaller screens */
    }
}

.terms-content, .privacy-content, .responsible-game-content{
    padding: 20px;
}

.terms-title, .privacy-title, .gaming-title {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 120px;
}

.terms-intro, .privacy-intro, .gaming-intro {
    font-size: 1.2em;
    color: #373737;
    text-align: center;
    margin-bottom: 30px;
}

.privacy-policy-section-title, .terms-and-conditions-section-title, .responsible-gaming-section-title {
    font-size: 1.8em;
    margin: 30px 0 10px;
    color: #7a1010; /* Green color for section titles */
}

.privacy-policy-section-description, .terms-and-conditions-section-description, .responsible-gaming-section-description {
    font-size: 1em;
    color: #373737;
    line-height: 1.6;
    margin-bottom: 20px;
}

.privacy-policy-info-list, .terms-and-conditions-prohibited-activities, .responsible-gaming-gaming-guidelines {
    list-style-type: none; /* Removes default list style */
    padding-left: 0; /* Removes left padding */
}

.privacy-policy-info-item, .terms-and-conditions-prohibited-item, .responsible-gaming-guideline-item {
    background: #e7e786;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .terms-title, .privacy-title, .gaming-title {
        font-size: 2em;
    }

    .terms-intro, .privacy-intro, .gaming-intro, 
    .privacy-policy-section-title, .terms-and-conditions-section-title, .responsible-gaming-section-title {
        font-size: 1.5em;
    }

    .privacy-policy-section-description, .terms-and-conditions-section-description, .responsible-gaming-section-description {
        font-size: 0.9em;
    }
}

.faq-section {
    max-width: 800px;
    margin: 30px auto; /* Увеличено расстояние сверху и снизу */
    border-radius: 15px; /* Увеличены углы для более плавного вида */
    background: linear-gradient(135deg, rgba(248, 248, 248, 0.9), rgba(255, 255, 255, 0.7)); /* Градиентный фон */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Более резкий эффект тени */
    padding: 30px; /* Увеличен внутренний отступ */
    backdrop-filter: blur(10px); /* Размытие фона */
    margin-top: 80px;
}

.faq-title {
    font-size: 3em; /* Увеличен размер шрифта */
    margin-bottom: 20px;
    text-align: center;
    color: #6d0210; /* Яркий желтый цвет для заголовка */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Тень для текста */
}

.faq-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Разделитель с очень легким цветом */
    padding: 20px 0; /* Увеличены отступы */
    transition: background 0.3s ease, transform 0.3s ease; /* Плавный переход фона и трансформации */
    perspective: 1000px; /* Перспектива для 3D-эффекта */
}

.faq-item:hover {
    background: rgba(255, 255, 255, 0.2); /* Легкая прозрачность при наведении */
    transform: translateY(-5px) scale(1.02); /* Подъем элемента при наведении */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* Эффект тени при наведении */
}

.faq-question {
    font-size: 1.6em; /* Увеличенный размер шрифта для вопросов */
    color: #6200ea; /* Индиго для заголовков вопросов */
    cursor: pointer;
    margin: 0;
    transition: color 0.3s ease; /* Плавный переход цвета */
}

.faq-question:hover {
    color: #3700b3; /* Цвет при наведении */
}

.faq-answer {
    display: none; /* Скрытие ответа по умолчанию */
    font-size: 1.2em; /* Размер шрифта для ответов */
    color: #333; /* Тёмно-серый цвет текста для удобочитаемости */
    margin-top: 10px;
    transition: all 0.5s ease; /* Плавный переход анимации */
    padding-left: 20px; /* Отступ слева для ответов */
    transform: translateX(20px); /* Эффект сдвига */
    opacity: 0; /* Сделаем ответ невидимым */
}

/* Стиль для видимого ответа */
.faq-answer.active {
    display: block; /* Отображаем ответ */
    opacity: 1; /* Делаем ответ видимым */
    transform: translateX(0); /* Убираем сдвиг */
}

.about-rummy {
    padding: 30px;
    background-color: #ffffff; /* Change to white for a clean look */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for a 3D effect */
    border-radius: 10px; /* Rounded corners */
}

.about-rummy__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: fadeIn 0.5s ease; /* Fade-in effect for the container */
}

.about-rummy__sidebar {
    flex: 1;
    margin-right: 30px;
    margin-top: 60px;
    perspective: 800px; /* Perspective for 3D effect */
}

.about-rummy__button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #e63946; /* Change to a vibrant red */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Adding shadow for depth */
}

.about-rummy__button:hover {
    color: #000;
    background-color: #d62839; /* Darker red on hover */
    transform: translateY(-5px) rotateY(5deg); /* Slight lift and rotation for 3D effect */
}

.about-rummy__button--active {
    background-color: #e4dd08; /* Active button with a light contrasting color */
    color: #e63946; /* Text color on the active button */
    transform: scale(1.05); /* Enlarge active button */
}

.about-rummy__content {
    flex: 2;
    transform-style: preserve-3d; /* Preserve 3D effect */
    transition: transform 0.5s; /* Smooth transition for content changes */
}

.about-rummy__title {
    font-size: 26px;
    margin-bottom: 20px;
    color: #1d3557; /* Change title color for contrast */
}

.about-rummy__text {
    display: none; /* Hidden by default, managed by JavaScript */
}

.about-rummy__text#mission {
    display: block; /* Show this section by default */
    animation: slideIn 0.5s ease; /* Slide-in effect for text */
}

.about-rummy__button-container {
    margin-top: 25px;
}

.about-rummy__contact-button {
    padding: 12px 25px;
    background-color: #457b9d; /* Cool teal color */
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about-rummy__contact-button:hover {
    background-color: #1d3557; /* Darken contact button on hover */
    transform: scale(1.05); /* Slight enlargement on hover */
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.about-rummy__image {
    max-width: 100%; /* Prevents the image from exceeding the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Ensures there are no small spaces below the image */
    margin: 0 auto; /* Centers the image */
    transform: scale(1.05); /* Slight 3D scale effect */
    transition: transform 0.3s ease;
}

.about-rummy__image:hover {
    transform: scale(1.1); /* Scale image on hover for a nice effect */
}

@media (max-width: 730px) {
    .about-rummy__container {
        flex-direction: column;
    }

    .about-rummy__sidebar {
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .header-link {
        font-size: 20px; /* Increase size for better readability */
    }

    .RummyStrategyHub-online-title {
        font-size: 2rem; /* Increase title size for mobile */
    }

    .RummyStrategyHub-info-section {
        margin: 0;
    }
}

.how-play-content {
    margin-top: 60px;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.rummy-features {
    padding: 40px;
    border-radius: 12px; /* Round edges */
    max-width: 1200px; /* Ensure the section doesn't stretch too wide */
    margin: 0 auto; /* Center the section */
    perspective: 1000px; /* Perspective for child elements */
}

.rummy-features__title {
    font-size: 32px;
    color: #333; /* Dark color for contrast */
    text-align: center; /* Centered title */
    margin-bottom: 30px;
    transform: translateZ(50px); /* Bring title closer for a 3D effect */
    transition: transform 0.3s ease; 
}

.rummy-features__list {
    list-style: none; /* Remove default list styling */
    padding: 0;
}

.rummy-features__item {
    background-color: #ffffff; /* White background for each item */
    border-radius: 8px; /* Rounded borders */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-bottom: 20px; /* Space between items */
    padding: 20px; /* Inner padding */
    display: flex; /* Flex layout for icon and text */
    flex-direction: column; /* Stack icon and text on smaller screens */
    align-items: flex-start; /* Left align items */
    transform: translateZ(0); /* Reset transform for perspective */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.rummy-features__item:hover {
    transform: translateY(-5px) translateZ(20px); /* Lift effect on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.rummy-features__icon {
    font-size: 2rem; /* Icon size */
    color: #E63946; /* A vibrant color for icons */
    margin-right: 15px; /* Space between icon and text */
}

.rummy-features__content {
    flex: 1; /* Allow content to fill remaining space */
}

.rummy-features__content strong {
    display: block; /* Strong text as a block */
    font-size: 1.2rem; /* Increase size for emphasis */
    margin-bottom: 5px; /* Space below strong text */
    color: #1d3557; /* Darker color for better readability */
}

@media (max-width: 768px) {
    .rummy-features__item {
        flex-direction: column; /* Stack icon and text on smaller screens */
        align-items: flex-start; /* Left align items */
    }

    .rummy-features__icon {
        margin-bottom: 10px; /* Space below icon for stacked items */
        font-size: 1.5rem; /* Smaller icon size on mobile */
    }
}

@media (max-width: 480px) {
    .rummy-features {
        padding: 20px; /* Less padding on mobile */
    }

    .rummy-features__title {
        font-size: 24px; /* Smaller title on mobile */
    }

    .rummy-features__item {
        padding: 15px; /* Less padding in items on mobile */
    }
}

.about-rummy__image{
    border-radius: 30px;
}
.how-to-play-content{
    margin-top: 100px;
}
.advantages-section {
    padding: 40px;
    background-color: #f0f4f8; /* Light background */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    max-width: 1200px; /* Limit max width */
    margin: 0 auto; /* Center the section */
    margin-top: 60px;
}

.advantages-title {
    font-size: 2.5rem;
    color: #23395d; /* Dark blue */
    text-align: center; /* Centered title */
    margin-bottom: 30px;
    transform: translateZ(40px); /* 3D effect */
    transition: color 0.3s ease;
}

.advantage-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; /* Space between blocks */
    perspective: 1000px; /* Perspective for 3D effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition */
}

.advantage-block:hover {
    transform: translateY(-5px) rotateY(5deg); /* Slight lift and tilt on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.advantage-text {
    flex: 1;
    padding: 20px; /* Space around text */
    background-color: #ffffff; /* White background for text box */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* Subtle shadow */
}

.advantage-description {
    font-size: 1.1rem; /* Slightly larger text */
    color: #555; /* Dark gray */
    margin-bottom: 15px; /* Space between text and button */
}

.btn-vacancies {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2b7a78; /* Teal button */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition effects */
}

.btn-vacancies:hover {
    background-color: #1f5a57; /* Darker teal on hover */
    transform: scale(1.05); /* Slight enlargement */
}

.advantage-image {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners for images */
}

/* Styles for reverse layout */
.revers-text {
    flex-direction: row-reverse; /* Reverse column order */
}

@media (max-width: 768px) {
    .advantages-section {
        padding: 20px; /* Less padding on mobile */
    }

    .advantages-title {
        font-size: 2rem; /* Smaller title on mobile */
    }

    .advantage-block {
        flex-direction: column; /* Stack elements on mobile */
        align-items: flex-start; /* Align left in mobile view */
    }

    .advantage-text {
        width: 100%; /* Text takes full width on mobile */
    }
}

@media (max-width: 480px) {
    .btn-vacancies {
        padding: 8px 16px; /* Smaller button on mobile */
    }
}














@media (min-width: 1025px) {
    .header-link:hover,
    .footer-brand:hover {
        color: #c0c0c0;
    }
    .nav-link-hover:hover {
        color: #ffe11c;
    }
    .footer-links a:hover {
        color: #ffe11c;
    }
    .btn-hero:hover {
        background-color: #c00000; /* Цвет кнопки при наведении */
        transform: translateY(-1px); /* Легкий подъем при наведении */
    }
    .priv-btn-link:hover {
        color: #616161;
    }
    .hero__form:hover {
        transform: translateY(-3px); /* Легкий подъем при наведении */
    }
    .rummy-bonus-card:hover {
        transform: scale(1.05);
        box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    }
    .rummy-bonus-card__button:hover {
        background: linear-gradient(45deg, #69000e, #ad4949);
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }
    .rummy-button:hover {
        background: rgba(217, 69, 69, 0.504); /* Подсветка фона при наведении */
        transform: scale(1.05); /* Увеличение кнопки при наведении */
    }
    .match-action-card:hover {
        transform: translateY(-5px) scale(1.02); /* Slight lift and scale on hover */
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Deep shadow effect on hover */
    }
    .privacy-policy-info-item:hover, .terms-and-conditions-prohibited-item:hover, .responsible-gaming-guideline-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    }
}